
* {
	color: #2d3c49;
}

.container {
	margin: 20px;
}
.container-fixed {
    margin: 0 auto;
    max-width: 970px;
    padding: 10px;
}

.logo {
	max-width: 100px;
	margin-top: 10px;
}

h1 {
	font-size: 3.5em;
	margin: 0 auto;
}

h2 {
	color: #7d97ad;
	margin-top: 10px;
}
.hr {
	height: 4px;
	background-color: #7d97ad;
	margin: 10px 0 !important;
}
.jumbotron {
    margin: 0 !important;
    border-radius: 0 !important;
    height: 400px;
    overflow: hidden;
    padding: 0;
}

.project {
	text-align: center;
	max-width: 310px;
	margin: 0 auto 20px auto;
}

.project-image{
	width: 100%;
}

.project-title{
	color: #2d3c49;
	font-size: 1.8em;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

@media screen and (max-width: 1169px ) {
	.jumbotron{
		height: 300px;
	}
	h1 {
		font-size: 2.5em;
	}
	h4 {
		
	}
}

@media screen and (max-width: 767px ) {
	.jumbotron{
		height: auto;
		max-height:200px;
	}
	h1 {
		padding-left: 20px;
		font-size: 1.5em;
	}
	h4 {
		padding-left: 20px;
		font-size: 1em;
	}
}















